In [1]:
from lxml import etree
import pandas as pd
from io import StringIO

In [2]:
doc = etree.parse("fpds_feed_sample_1_org.xml")

In [3]:
xslt_tree = etree.parse("fpds_feed_v3.xsl")
transform = etree.XSLT(xslt_tree)

In [4]:
result = transform(doc)

In [5]:
csv_str =str(result)
csv_str

'agencyID,9701,9700,9700,9700,9700,9700,9700,9700,9700,9700\nagencyName,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE\nother_agencyID,,,,,,,,,,\n'

In [6]:
mystr = StringIO(csv_str)

df = pd.read_csv(mystr, header=None, index_col=0)
df

,1,2,3,4,5,6,7,8,9,10
0,,,,,,,,,,
agencyID,9701,9700,9700,9700,9700,9700,9700,9700,9700,9700
agencyName,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE
other_agencyID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_new = df.transpose(copy=True)
df_new

0  agencyID       agencyName other_agencyID
1      9701  DEPT OF DEFENSE            NaN
2      9700  DEPT OF DEFENSE            NaN
3      9700  DEPT OF DEFENSE            NaN
4      9700  DEPT OF DEFENSE            NaN
5      9700  DEPT OF DEFENSE            NaN
6      9700  DEPT OF DEFENSE            NaN
7      9700  DEPT OF DEFENSE            NaN
8      9700  DEPT OF DEFENSE            NaN
9      9700  DEPT OF DEFENSE            NaN
10     9700  DEPT OF DEFENSE            NaN

In [223]:
# output dataframe to a .csv file
df_new.to_csv("fpds_feed_result.csv", index=False)