In [8]:
from lxml import etree
import pandas as pd

In [78]:
doc = etree.parse("fpds_feed_sample_1_org.xml")

In [79]:
xslt_tree = etree.parse("fpds_feed_v3.xsl")
transform = etree.XSLT(xslt_tree)

In [80]:
result = transform(doc)

In [81]:
csv = str(result)

In [82]:
with open("fpds_feed_result.csv", 'w', encoding="UTF8") as f:
    f.write(str(result))

In [83]:
df = pd.read_csv("fpds_feed_result.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,agencyID,9701,9700,9700,9700,9700,9700,9700,9700,9700,9700
1,agencyName,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE
2,PIID,0001,0001,0001,0001,0001,0001,0001,0001,0001,0001
3,ref_agencyID,9700,9700,9700,9700,9700,9700,9700,9700,9700,9700
4,ref_PIID,N0017811D6668,N0017812D7077,N0017814D7171,N0017814D7174,N0017815D8340,N0017816D8902,SPE4A716D0258,W15P7T09DW201,W81K0417A0003,W91RUS15D0015

In [84]:
df_new = df.transpose(copy=True)
df_new

,0,1,2,3,4,5
0,agencyID,agencyName,PIID,ref_agencyID,ref_PIID,signedDate
1,9701,DEPT OF DEFENSE,0001,9700,N0017811D6668,2011-06-28 00:00:00
2,9700,DEPT OF DEFENSE,0001,9700,N0017812D7077,2012-07-15 00:00:00
3,9700,DEPT OF DEFENSE,0001,9700,N0017814D7171,2013-11-19 00:00:00
4,9700,DEPT OF DEFENSE,0001,9700,N0017814D7174,2013-11-19 00:00:00
5,9700,DEPT OF DEFENSE,0001,9700,N0017815D8340,2015-04-05 00:00:00
6,9700,DEPT OF DEFENSE,0001,9700,N0017816D8902,2016-06-30 00:00:00
7,9700,DEPT OF DEFENSE,0001,9700,SPE4A716D0258,2017-06-20 00:00:00
8,9700,DEPT OF DEFENSE,0001,9700,W15P7T09DW201,2009-04-30 00:00:00
9,9700,DEPT OF DEFENSE,0001,9700,W81K0417A0003,2017-04-28 00:00:00
10,9700,DEPT OF DEFENSE,0001,9700,W91RUS15D0015,2020-01-03 00:00:00