In [1]:
from lxml import etree
import pandas as pd
from io import StringIO

In [2]:
doc = etree.parse("fpds_feed_sample_1_org.xml")

In [3]:
xslt_tree = etree.parse("fpds_feed_v3.xsl")
transform = etree.XSLT(xslt_tree)

In [4]:
result = transform(doc)

In [5]:
csv_str =str(result)
csv_str

'genericFloat01\t\t\t\t\t\t\t\t\t\t\ngenericFloat02\t\t\t\t\t\t\t\t\t\t\ngenericInteger01\t\t\t\t\t\t\t\t\t\t\ngenericInteger02\t\t\t\t\t\t\t\t\t\t\n'

In [6]:
mystr = StringIO(csv_str)

df = pd.read_csv(mystr, sep="\t", header=None, index_col=0)
df.tail(20)

                  1   2   3   4   5   6   7   8   9   10
0
genericFloat01   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
genericFloat02   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
genericInteger01 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
genericInteger02 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [ ]:
df_new = df.transpose(copy=True)
df_new.iloc[:, -20:]

In [ ]:
df_new.shape

In [ ]:
# output dataframe to a .csv file
df_new.to_csv("fpds_feed_result.csv", index=False)