In [1]:
from lxml import etree
import pandas as pd
from io import StringIO

In [2]:
doc = etree.parse("fpds_feed_sample_1_org.xml")

In [3]:
xslt_tree = etree.parse("fpds_feed_v3.xsl")
transform = etree.XSLT(xslt_tree)

In [4]:
result = transform(doc)

In [5]:
csv_str =str(result)
csv_str

'agencyID\t9701\t9700\t9700\t9700\t9700\t9700\t9700\t9700\t9700\t9700\nagencyName\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\nPIID\t0001\t0001\t0001\t0001\t0001\t0001\t0001\t0001\t0001\t0001\nmodNumber\t0\t0\t0\t0\t0\t0\t0\t0\t0\t11\ntransactionNumber\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\nref-agencyID\t9700\t9700\t9700\t9700\t9700\t9700\t9700\t9700\t9700\t9700\nref-agencyName\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\tDEPT OF DEFENSE\nref-PIID\tN0017811D6668\tN0017812D7077\tN0017814D7171\tN0017814D7174\tN0017815D8340\tN0017816D8902\tSPE4A716D0258\tW15P7T09DW201\tW81K0417A0003\tW91RUS15D0015\nref-modNumber\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\nother-agencyID\t\t\t\t\t\t\t\t\t\t\nother-agencyName\t\t\t\t\t\t\t\t\t\t\nother-PIID\t\t\t\t\t\t\t\t\t\t\nother-modNumber\t\t\t\t\t\t\t\t\t\t\nother-transactionNumber\t\t\t\t\t\t\t\t\t\t\nother-ref-agencyID\t\t\t\t\t\t\t\t\t\t\nother-ref-agencyName\t\t\t\t\t\t\t\t\t\t\nother-ref-PIID\t\t\t\t\t\t\t\t\t\t\nother-ref-modNumber\t\t\t\t\t\t\t\t\t\t\nsignedDate\t2011-06-28 00:00:00\t2012-07-15 00:00:00\t2013-11-19 00:00:00\t2013-11-19 00:00:00\t2015-04-05 00:00:00\t2016-06-30 00:00:00\t2017-06-20 00:00:00\t2009-04-30 00:00:00\t2017-04-28 00:00:00\t2020-01-03 00:00:00\neffectiveDate\t2011-06-28 00:00:00\t2012-07-15 00:00:00\t2013-11-19 00:00:00\t2013-11-19 00:00:00\t2015-04-05 00:00:00\t2016-06-30 00:00:00\t2017-06-20 00:00:00\t2009-04-30 12:04:00\t2017-04-28 00:00:00\t2018-03-04 00:00:00\ncurrentCompletionDate\t2011-07-14 15:49:42\t2012-08-01 13:32:01\t2014-02-01 05:50:11\t2014-02-01 05:50:59\t2015-04-05 12:22:51\t2016-07-05 12:20:15\t2018-09-13 00:00:00\t2011-04-29 12:04:00\t2018-02-28 00:00:00\t2020-07-05 00:00:00\nultimateCompletionDate\t2011-07-14 15:49:42\t2012-08-01 13:32:01\t2014-02-01 05:50:11\t2014-02-01 05:50:59\t2015-04-05 12:22:51\t2016-07-05 12:20:15\t2018-09-13 00:00:00\t2011-04-29 00:00:00\t2018-02-28 00:00:00\t2020-07-05 00:00:00\nobligatedAmount\t2501.00\t2501.00\t2501.00\t2501.00\t2501.00\t2501.00\t1961.00\t3454791.72\t559484.40\t323256.60\nbaseAndExercisedOptionsValue\t2501.00\t2501.00\t2501.00\t2501.00\t2501.00\t2501.00\t1961.00\t3454791.72\t559484.40\t0.00\nbaseAndAllOptionsValue\t2501.00\t2501.00\t2501.00\t2501.00\t2501.00\t2501.00\t1961.00\t3454791.72\t559484.40\t0.00\ntotalObligatedAmount\t2501.00\t2501.00\t2501.00\t0.00\t2501.00\t2501.00\t1961.00\t3454791.72\t204057.31\t11373630.87\ntotalBaseAndExercisedOptionsValue\t2501.00\t2501.00\t2501.00\t0.00\t2501.00\t2501.00\t1961.00\t3454791.72\t204057.31\t11392366.76\ntotalBaseAndAllOptionsValue\t2501.00\t2501.00\t2501.00\t0.00\t2501.00\t2501.00\t1961.00\t3454791.72\t204057.31\t11392366.76\ncontractingOfficeAgencyID\t1700\t1700\t1700\t1700\t1700\t1700\t97AS\t2100\t2100\t2100\ncontractingOfficeAgency-name\t\t\t\t\t\t\t\t\t\t\ncontractingOfficeAgency-departmentID\t\t\t\t\t\t\t\t\t\t\ncontractingOfficeAgency-departmentName\t\t\t\t\t\t\t\t\t\t\ncontractingOfficeID\tN00178\tN00178\tN00178\tN00178\tN00178\tN00178\tSPE4A7\tW15P7T\tW81K00\tW91RUS\ncontractingOffice-description\t\t\t\t\t\t\t\t\t\t\ncontractingOffice-regionCode\t\t\t\t\t\t\t\t\t\t\ncontractingOffice-country\t\t\t\t\t\t\t\t\t\t\nfundingRequestingAgencyID\t1700\t1700\t1700\t1700\t1700\t1700\t97AS\t2100\t2100\t2100\nfundingRequestingAgency-name\t\t\t\t\t\t\t\t\t\t\nfundingRequestingAgency-departmentID\t\t\t\t\t\t\t\t\t\t\nfundingRequestingAgency-departmentName\t\t\t\t\t\t\t\t\t\t\nfundingRequestingOfficeID\tN65540\tN65540\tN65540\tN65540\tN65540\tN65540\tSPE4A7\tW81DJP\tW45NSV\tW5K9FE\nfundingRequestingOffice-name\t\t\t\t\t\t\t\t\t\t\nforeignFunding\tX\tX\tX\tX\tX\tX\tX\tX\tX\tX\nforeignFunding-description\t\t\t\t\t\t\t\t\t\t\npurchaseReason\t\t\t\t\t\t\t\t\t\t\npurchaseReason-description\t\t\t\t\t\t\t\t\t\t\nfeePaidForUseOfService\t0.00\t0.00\t0.00\t0.00\t0.00\t0.00\t0.00\t0.00\t0.00\t0.00\ntotalEstimatedOrderValue\t\t\t\t\t\t\t\t\t\t\n'

In [6]:
mystr = StringIO(csv_str)

df = pd.read_csv(mystr, sep="\t", header=None, index_col=0)
df.tail(10)

,1,2,3,4,5,6,7,8,9,10
0,,,,,,,,,,
fundingRequestingAgency-departmentID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fundingRequestingAgency-departmentName,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fundingRequestingOfficeID,N65540,N65540,N65540,N65540,N65540,N65540,SPE4A7,W81DJP,W45NSV,W5K9FE
fundingRequestingOffice-name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
foreignFunding,X,X,X,X,X,X,X,X,X,X
foreignFunding-description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purchaseReason,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purchaseReason-description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
feePaidForUseOfService,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
totalEstimatedOrderValue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_new = df.transpose(copy=True)
df_new.iloc[:, -10:]

,fundingRequestingAgency-departmentID,fundingRequestingAgency-departmentName,fundingRequestingOfficeID,fundingRequestingOffice-name,foreignFunding,foreignFunding-description,purchaseReason,purchaseReason-description,feePaidForUseOfService,totalEstimatedOrderValue
1,NaN,NaN,N65540,NaN,X,NaN,NaN,NaN,0.00,NaN
2,NaN,NaN,N65540,NaN,X,NaN,NaN,NaN,0.00,NaN
3,NaN,NaN,N65540,NaN,X,NaN,NaN,NaN,0.00,NaN
4,NaN,NaN,N65540,NaN,X,NaN,NaN,NaN,0.00,NaN
5,NaN,NaN,N65540,NaN,X,NaN,NaN,NaN,0.00,NaN
6,NaN,NaN,N65540,NaN,X,NaN,NaN,NaN,0.00,NaN
7,NaN,NaN,SPE4A7,NaN,X,NaN,NaN,NaN,0.00,NaN
8,NaN,NaN,W81DJP,NaN,X,NaN,NaN,NaN,0.00,NaN
9,NaN,NaN,W45NSV,NaN,X,NaN,NaN,NaN,0.00,NaN
10,NaN,NaN,W5K9FE,NaN,X,NaN,NaN,NaN,0.00,NaN

In [8]:
df_new.shape

(10, 48)

In [ ]:
# output dataframe to a .csv file
df_new.to_csv("fpds_feed_result.csv", index=False)