In [1]:
from lxml import etree
import pandas as pd
from io import StringIO
import requests
from urllib.parse import quote_plus

In [23]:
# url = 'https://www.fpds.gov/ezsearch/fpdsportal?s=FPDS&indexName=awardfull&templateName=1.5.2&q=LAST_MOD_DATE%3A%5B2020%2F04%2F02%2C2020%2F04%2F02%5D&rss=1&feed=atom0.3'
# url = 'https://www.fpds.gov/ezsearch/fpdsportal?s=FPDS.GOV&indexName=icdindex&templateName=1.5.2&q=+DEPARTMENT_NAME%3A%22General+Services+Administration%22&rss=1&feed=atom0.3'
# url = 'https://www.fpds.gov/ezsearch/search.do?indexName=awardfull&templateName=1.5.2&s=FPDS.GOV&q=financial+assistance+actions&rss=1&feed=atom0.3'
# url = 'https://www.fpds.gov/ezsearch/fpdsportal?s=FPDS.GOV&indexName=awardfull&templateName=1.5.2&rss=1&feed=atom0.3&q=+LAST_MOD_DATE%3A%5B2021%2F10%2F01%2C2021%2F11%2F01%5D'

base_url = 'https://www.fpds.gov/ezsearch/fpdsportal?s=FPDS.GOV&indexName=awardfull&templateName=1.5.2&rss=1&feed=atom0.3&q=+LAST_MOD_DATE'
start_date = '2021/10/01'
end_date = '2021/11/01'
param = f':[{start_date},{end_date}]'
url = base_url + quote_plus(param)

print(url)

https://www.fpds.gov/ezsearch/fpdsportal?s=FPDS.GOV&indexName=awardfull&templateName=1.5.2&rss=1&feed=atom0.3&q=+LAST_MOD_DATE%3A%5B2021%2F10%2F01%2C2021%2F11%2F01%5D

In [24]:
response = requests.get(url)
print(response.ok)

True

In [25]:
doc = etree.XML(response.content)

In [26]:
xslt_tree = etree.parse("fpds_feed.xsl")
transform = etree.XSLT(xslt_tree)

In [27]:
result = transform(doc)

In [29]:
csv_str =str(result)
# csv_str

In [30]:
mystr = StringIO(csv_str)

df = pd.read_csv(mystr, sep="\t", header=None, index_col=0)
df.head(10)

,1,2,3,4,5,6,7,8,9,10
0,,,,,,,,,,
agencyID,1434,1434,1434,1434,1434,9700,9700,9700,9700,9700
agencyName,US GEOLOGICAL SURVEY,US GEOLOGICAL SURVEY,US GEOLOGICAL SURVEY,US GEOLOGICAL SURVEY,US GEOLOGICAL SURVEY,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE
PIID,00001199909D00HQCN0001,00001199909D00HQCN0001,00001199909D00HQCN0001,00001199909D00HQCN0001,00001199909D00HQCN0001,00001,00001,00001,00001,00001
modNumber,0,22,24,25,26,0,0,0,0,0
transactionNumber,0,0,0,0,0,1,2,2,3,4
ref-agencyID,NaN,NaN,NaN,NaN,NaN,9700,9700,9700,9700,9700
ref-agencyName,NaN,NaN,NaN,NaN,NaN,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE,DEPT OF DEFENSE
ref-PIID,NaN,NaN,NaN,NaN,NaN,DAAG9999A0005,DAAG9999A0014,DAAG9999A0015,DAAG9999A0017,DAAG9999A0010
ref-modNumber,NaN,NaN,NaN,NaN,NaN,0,0,0,0,P00001
other-agencyID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_new = df.transpose(copy=True)
df_new.iloc[:, :10]

,agencyID,agencyName,PIID,modNumber,transactionNumber,ref-agencyID,ref-agencyName,ref-PIID,ref-modNumber,other-agencyID
1,1434,US GEOLOGICAL SURVEY,00001199909D00HQCN0001,0,0,NaN,NaN,NaN,NaN,NaN
2,1434,US GEOLOGICAL SURVEY,00001199909D00HQCN0001,22,0,NaN,NaN,NaN,NaN,NaN
3,1434,US GEOLOGICAL SURVEY,00001199909D00HQCN0001,24,0,NaN,NaN,NaN,NaN,NaN
4,1434,US GEOLOGICAL SURVEY,00001199909D00HQCN0001,25,0,NaN,NaN,NaN,NaN,NaN
5,1434,US GEOLOGICAL SURVEY,00001199909D00HQCN0001,26,0,NaN,NaN,NaN,NaN,NaN
6,9700,DEPT OF DEFENSE,00001,0,1,9700,DEPT OF DEFENSE,DAAG9999A0005,0,NaN
7,9700,DEPT OF DEFENSE,00001,0,2,9700,DEPT OF DEFENSE,DAAG9999A0014,0,NaN
8,9700,DEPT OF DEFENSE,00001,0,2,9700,DEPT OF DEFENSE,DAAG9999A0015,0,NaN
9,9700,DEPT OF DEFENSE,00001,0,3,9700,DEPT OF DEFENSE,DAAG9999A0017,0,NaN
10,9700,DEPT OF DEFENSE,00001,0,4,9700,DEPT OF DEFENSE,DAAG9999A0010,P00001,NaN

In [ ]:
df_new.shape

In [ ]:
# output dataframe to a .csv file
df_new.to_csv("fpds_feed_result.csv", index=False)